<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">
<listeners>
    <listener class-name="com.instacart.utils.reports.ExtentReporterNG" />
</listeners>
    <test name="order">
        <classes>
            <class name= "com.instacart.crawler.tests.ApiCrawlerTest"/>
        </classes>
    </test>
</suite>